sphinx:
  build: .
  ports:
    - "9306:9306"
  links:
    - db
  volumes:
    - "sphinxsearch:/etc/sphinx"
db:
  image: avatarnewyork/dockerenv-mysql:percona56
  volumes:
    - /var/mysql/sphinxmysql:/var/lib/mysql
  ports:
    - "3366:3306"